/* PHASE 7: Online */
.online {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #0c0;
  color: white;
  padding: 5px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0px 1px #070;
}

.profile-picture {
  overflow: hidden;
}
